html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Основной цвет  #757575 */
/* Вторичный цвет  #212121 */
/* акцент  #2196F3 */
/* белий:#FFFFFF */
/* футер: rgba(255, 255, 255, 0.4) */
/* background: #F5F4FA; */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background: #e5e5e5;
  --футер: #2f303a;
  --футер: rgba(255, 255, 255, 0.4);
}

body {
  margin: 0;
  color: #757575;
  background-color: var(--background);
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

.list {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* nav */

/* кнопка */
.buton {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
/* logo */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
/* identical to box height */
.logo .logo-web {
  color: var(--title-text-color);
}
.logo .logo-web:hover {
  color: var(--accent-color);
}

.logo:hover {
  color: var(--title-text-color);
}

/* 
.logo:hover {
    color: var(--title-text-color);
}
  */
.nav {
  display: flex;
  align-items: center;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* justify-content: center; */
}

/* Site nav */
.list-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.auth-nav.list .link:focus,
.auth-nav.list .link:hover {
  color: var(--accent-color);
}

.auth-nav .telefon {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #757575;
  text-decoration: none;
}

.list .link {
  text-decoration: none;
}
.list-nav .link:focus,
.list-nav .link:hover {
  color: var(--accent-color);
  display: block;
}

.list-nav {
  display: flex;
  margin-left: 86px;
}

.list-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-nav .item + .item {
  margin-left: 52px;
}

.list-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 30px;
}

/* Герой */

.hero-title {
  color: var(--primary-white-color);
  margin-top: 0;
  margin-bottom: 46px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
}
/* секцыя героя */
.main {
  margin: 0;
  padding: 0;
  text-align: center;
}
.overlay{
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(47, 48, 58, 0.8);
  background-image: url("../images/heroy.jpg");
  background-size: cover;
  background-color: black;
  

} 

/* section */
.section .section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* правила */

.item .antena:hover,
.item .antena:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.item .antena {
  background-color: #f5f4fa;
  padding: 24px 102px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}
.rules {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background);
}

.feature-list .feature-list .title {
  margin-top: 30px;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  margin-bottom: 0;
  margin-top: 10px;
}

/* Чем мы занимаемся */

.applications {
  padding-top: 94px;
  padding-bottom: 94px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ececec;
  background-color: #e5e5e5;
}
.feature-list {
  display: flex;
  align-items: baseline;
}
.feature-list .item + .item {
  margin-left: 30px;
}
.feature-list .item {
  text-align: center;
  width: 278px;
}

.feature-list .title {
  margin-top: 30px;
  margin-bottom: 0;
}
.list .foto + .foto {
  margin-left: 30px;
}

.list .container-list {
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  border-radius: 0px 0px 4px 4px;
}
.im {
  display: block;
}

.section .works {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .section-title {
  margin-top: 0;
  margin-bottom: 50px;
}

/* наша команда */

.comand {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.position {
  margin-top: 0;
  margin-bottom: 84px;
  text-align: center;
}

.list .foto {
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  background: url(team-img-2.jpg);
  border-radius: 4px 4px 4px 4px;
  background: #ffffff;
  border-radius: 4px;
}
.section-foto {
  border-radius: 4px 4px 0px 0px;
}

.section .name {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.main .buton {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
}
.form .buton {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
}

/* Постояные клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.fot {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: block;
}

.list .fotos {
  background: #e5e5e5;
}

/* footer */

footer {
  background-color: #2f303a;
}
.page-footer .address {
  display: inline-block;
}

.address-paragraph {
  color: var(--primary-white-color);
  margin-top: 10px;
  margin-bottom: 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
}
.address-mail {
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7px;
}
.join {
  display: inline-block;
}

.join-paragraph {
  margin-top: 56px;
  margin-bottom: 21px;

  font-weight: 400;
  color: var(--primary-white-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-networks {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0 0;
}

.social-networks .net + .net {
  margin-left: 20px;
}

.subscription-name {
  margin-top: 56px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.developed {
  padding-top: 18px;
  padding-bottom: 21px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.4);
}
.address {
  /* margin-right: auto; */
  margin-bottom: 22px;
}

/* footer */
/* footer */
.footer {
  padding-top: 48px;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

.address .address-telefon {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address .list {
  display: block;
}

.join {
  margin-left: 69px;
  margin-right: 93px;
}

/* PORTFOLIO.HTML  */
/* PORTFOLIO.HTML  */
/* PORTFOLIO.HTML  */

.mein {
  margin-left: auto;
  margin-right: auto;
}
.projects .one:focus,
.projects .one:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.projects .one {
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-top: 6px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.contein {
  padding-top: 93px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.projects.list .one.important {
  background: #2196f3;
  color: #ffffff;
}
/* сайт */
.jk {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  padding-bottom: 94px;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container .list-nav {
  display: block;
}

/* .projects .list { 
  justify-content: center;
} */

.projects {
  justify-content: center;
}

.projects .bot + .bot {
  margin-left: 8px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}
.img {
  display: block;
  width: 370px;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element {
  width: 370px;
  margin-right: 30px;

  margin-bottom: 30px;
}

.list .title-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-top: 20px;
  margin-left: 24px;
}

.list .text.list {
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  font-weight: 400;
}
.list .list-nav {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.list .list.one {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.border {
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
